Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.a
*.la
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libzypp-testsuite-tools.pc
libzypp-testsuite-tools.spec
ltmain.sh
missing
solver/src/deptestomatic.multi
solver/src/deptestomatic.noui
stamp-h1
